include LICENSE
include MANIFEST.in
include README
include *.txt
include setupegg.py
include templates/*
include jams/Humor-Sans.ttf
include jams/test_*
include jams/bin/*
include jams/color/brewer.tiff
include jams/color/sron_colourschemes.pdf
include jams/eddybox/test_*
include jams/netcdf4/README.md
global-exclude *.pyc *.pyo *.pyd
